[submodule "addons/website_wechat"]
	path = addons/website_wechat
	url = git@gitee.com:ferren/website_wechat.git
[submodule "addons/theme_txtr"]
	path = addons/theme_txtr
	url = git@gitee.com:ferren/theme_txtr.git
[submodule "addons/physical"]
	path = addons/physical
	url = git@gitee.com:ferren/physical.git
[submodule "addons/odooDingTalk"]
	path = addons/odooDingTalk
	url = git@github.com:ferren/odooDingTalk.git
[submodule "addons/wx_integration"]
	path = addons/wx_integration
	url = git@gitee.com:ferren/wx_integration.git
[submodule "addons/power"]
	path = addons/power
	url = git@gitee.com:ferren/power.git
[submodule "addons/website_youzan"]
	path = addons/website_youzan
	url = git@gitee.com:ferren/website_youzan.git
[submodule "addons/website_sale_weapp"]
	path = addons/website_sale_weapp
	url = git@gitee.com:ferren/website_sale_weapp.git
[submodule "addons/theme_sale_weapp"]
	path = addons/theme_sale_weapp
	url = git@gitee.com:ferren/theme_sale_weapp.git
[submodule "addons/website_wecom"]
	path = addons/website_wecom
	url = git@gitee.com:ferren/website_wecom.git
